.bodyColor{	
    background-color: #868e96!important ;
}
.searchBoxPosition{
	margin-left: 292px;
    margin-top: 292px;
}
.goBack{	
    margin-top: 100px;
}
.wallCustomize{
	background-color: #345077;
}
.tableRowCust{
	background-color: #b3b7d2;
	
}
.searchBg{
	background-color:#d0d0d8db
}
.rowTextcolor{
	color:#fff;	
}