

<div> 
<div class="goBack">
<button type="button" class="btn btn-info" ng-click="displaySearch()"> Go Back</button>
</div>

<div class="well well-lg wallCustomize"> 

  <table class="table tableRowCust">             
      <thead>
      <tr>
        <th>Company name</th>
        <th>Company Id's</th>        
      </tr>
    </thead>
    <tbody >
      <tr class="rowTextcolor">
        <td>{{selectedCompanyName}}</td>
        <td>{{selectedCompanyIds}}</td>       
      </tr>     
    </tbody>
  </table>
  
</div>
</div>
